.App-header{
    column-count: 4;
    background-color: #17191d;
    padding: 10px;
    padding-left:50px;
  }
  h1{
    font-size: 20px;
    
    margin: 0px;
  }
  .App-header>nav{
    text-align: center;
    flex-flow: column wrap;
    align-content: flex-end;
    column-gap: 10px;
    display: flex;
  }
.link{
    cursor: pointer;
    margin:0px;
    font-size: 15px;
    text-decoration: none;
    color: white;

  }
  .Content{
    padding: 50px;
  }